@import '../../colors';

#image-preview {
    width: 200px;
    height: 150px;
    max-width: 200px;
    max-height: 150px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $app_backgroundColor;
    cursor: pointer;

    & .image-preview-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        overflow: hidden;

        img {
            max-width: 100%;
            max-height: 100%;
            overflow: hidden;
            margin: 0;
            padding: 0;
        }
    }

    & > p {
        flex-shrink: 0;
        width: 100%;
        max-height: calc((1.2em * 2) + 10px);
        overflow: hidden;
        padding: 5px;
        line-height: 1.2em;
        font-size: 0.87em;
        color: whitesmoke;
        background-color: rgba(0, 0, 0, 0.3);
    }

    &:hover .image-preview-overlay {
        top: 0;
    }

    .image-preview-overlay {
        padding: 3px 5px;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        top: -30px;
        left: 0;
        transition-duration: 0.2s;
        transition-timing-function: ease-in;

        & svg {
            cursor: pointer;
            color: whitesmoke;
            margin-left: 5px;
        }
    }
}