@import '../../colors';

#SideNavigation {
    background-color: $sideNavigation_primaryColor;
    height: 100%;
    display: flex;
    overflow: hidden;

    a,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
    }

    a {
        transition-property: background-color;
        transition-duration: 0.5s;
        padding: 0 7px;
        display: flex;
        
        &:hover {
            background-color: $sideNavigation_secondaryColor;
            cursor: pointer;
        }
    }
}

#SideNavigation_Header {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 40px;
        height: auto;
    }
}

#SideNavigation_Items {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border: none;

    a.active {
        background-color: $sideNavigation_secondaryColor;
        border-right: 5px solid rgb(56, 142, 60);
    }
}

#SideNavigation_Footer {
    display: flex;
    flex-direction: row;
    background-color: $sideNavigation_tertiaryColor;
    overflow: hidden;

    a {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px 0;

        &:hover {
            background-color: $sideNavigation_iconColor;
        }
    }
}