@import '../../colors';

#workspace-preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $app_backgroundColor;
    z-index: 200;

    span {
        margin-top: 20px;
    }
}