@import 'colors';

#App {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}

#AppContent {
    width: 100%;
    height: calc(100% - 68px);
    background-color: $app_backgroundColor;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-top: 58px;
}