// SideNavigation
$sideNavigation_primaryColor: #233044;//rgba(35, 48, 68, 1);
$sideNavigation_secondaryColor: #1e293a;//rgba(30, 41, 58, 1);
$sideNavigation_tertiaryColor: #1f2a38;//rgba(31, 42, 56, 1);
$sideNavigation_textColor: #c5c8cc;//rgba(197, 200, 204, 1);
$sideNavigation_iconColor: #777f8a;//rgba(119, 127, 138, 1);

$app_backgroundColor: #f7f9fc;//rgba(247, 249, 252, 1);

$header_badgeColor: #407ad6;// rgba(64, 122, 214, 1);
$header_iconColor: #9e9e9e;//rgba(158, 158, 158, 1);