@import '../../colors';

#text-editor {
    display: block;
    width: 100%;


    #text-editor-title {
        color: $input_label_color;
        font-size: 13px;
        margin: 0;
        margin-bottom: 10px;
    }

    #text-editor-attachments {
        border: 1px solid #e4ebf5;
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-left: 13px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        & > div {
            display: inline-block;
            max-height: 150px;
            overflow: hidden;
            margin-bottom: 10px;
            margin-right: 10px;
        }
    }

    #text-editor-file-area {
        display: block;
        border: 1px solid #e4ebf5;
        width: 100%;
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 15px;
        text-align: center;
        background-color: $app_backgroundColor;
        color: rgba(0, 0, 0, 0.3);
        
    }

    .ck.ck-editor {
        border: 1px solid #e4ebf5;
        border-bottom: none;
        padding: 5px;
        padding-bottom: 20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .ck.ck-toolbar {
        background-color: white;
        border: none;
    }

    .ck.ck-content {
        border: none;
        box-shadow: none;
    }
}
